/* document */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --colorone: #B8C3CE;
    --colortwo: #8398ac;
    --colorthree: #77859a;
    --colorfour: #7287a1;
    --colorfive: #a7bdd7;
    --colorsix: #c4d7ed;

    --white: #ffffff;
    --black: #000000;
}

html {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-weight: 600;
}

h2 {
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    font-size: 1.5em;
}

h3 {
    font-family: 'Staatliches', cursive;
    font-weight: 500;
    font-size: 1.3em;
}

.italic {
    font-style: italic;
}

p {
    font-size: 1rem;
}

body {
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: black;
}

/* navigation */

header {
    display: flex;
}

header nav {
    display: inline-flex;
}

header nav ul {
    margin: 1rem;
}

/* button for small screens */

header nav ul:first-of-type li:last-of-type button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;

    border: none;
    background: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    padding: .4rem .5rem .4rem .5rem;

    color: #ffffff;
    background-color: #7c8186;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);

    transition: .4s;
}

header nav ul:first-of-type li:last-of-type button:active {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

/* buttons for big screens (home & about) */

header nav ul:nth-of-type(2) li {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;

    border: none;
    background: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    padding: .4rem .5rem .4rem .5rem;


    background-color: #7c8186;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);

    transition: .4s;
}

header nav ul:nth-of-type(2) li:active {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

header nav ul:nth-of-type(2) li p {
    color: #ffffff;
}

/* navigation menu on small screens */

@media (max-width: 38em) {
    main {
        margin-top: 4rem;
    }

    header nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;

        z-index: 1000;
        /* background-color: #ffffff; */
    }

    header nav ul:first-of-type {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: #ffffff;
        width: 100%;
        height: 100%;

        margin: 0;
        padding: 1rem;

    }

    header nav ul:last-of-type {
        transition: .5s;
        /* margin: 1rem; */
        transform: translateX(40rem);
        overflow-x: hidden;
        margin: 0;
        width: 100%;
        align-self: flex-end;
        background-color: #ffffff;
    }

    header nav ul:last-of-type.menu {
        overflow-x: hidden;
        transform: translateX(0);
    }

    header nav ul:last-of-type li {
        margin: 3rem 2rem 3rem 2rem;
        text-align: right;
        font-weight: 500;
    }

}

/* navigation menu on bigger screens */

@media (min-width: 38em) {
    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: inline-flex;
        align-items: center;
    }

    header nav ul:first-of-type button {
        display: none;
    }

    header nav ul:last-of-type {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3em;
        flex-wrap: nowrap;

    }

    header nav ul:last-of-type li p {
        font-weight: 500;
    }

    header nav ul:last-of-type li {
        /* width: 100%; */
        display: inline-flex;
        align-items: center;
        justify-content: center;

        transition: .5s;
    }
}

@media (min-width: 60em) {

    header nav ul:last-of-type {
        width: 25%;
    }

    header nav ul:last-of-type li p {
        font-weight: 500;
        font-size: 1.1em;
    }
}

/* sections */

main section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

main section {

    margin: 0 0 2em 0;
}

#home main section {
    display: grid;
}

/* section colors */

main section:first-of-type {
    background-color: var(--colorone);
}

main section:nth-of-type(2) {
    background-color: var(--colortwo);
}

main section:nth-of-type(3) {
    background-color: var(--colorthree);
}

main section:nth-of-type(4) {
    background-color: var(--colorfour);
}

/* arrow design colors */

/* one */

main section:first-of-type article:last-of-type ul li .rectangle {
    background-color: #8b939b;
}

main section:first-of-type article:last-of-type ul li .arrow {
    border-bottom: 1.5em solid #8b939b;
}

/* two */

#home main section:nth-of-type(2) article:last-of-type ul li .rectangle {
    background-color: #708191;
}

#home main section:nth-of-type(2) article:last-of-type ul li .arrow {
    border-bottom: 1.5em solid #708191;
}

/* three */

#home main section:nth-of-type(3) article:last-of-type ul li .rectangle {
    background-color: #647184;
}

#home main section:nth-of-type(3) article:last-of-type ul li .arrow {
    border-bottom: 1.5em solid #647184;
}

/* four */

#home main section:nth-of-type(4) article:last-of-type ul li .rectangle {
    background-color: #5e7085;
}

#home main section:nth-of-type(4) article:last-of-type ul li .arrow {
    border-bottom: 1.5em solid #5e7085;
}

/* arrow design positioning */

#home main section article:last-of-type ul {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

#home main section article:last-of-type ul li {
    margin: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

#home main section article:first-of-type ul {
    margin: 1em;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
}

.rectangle {
    width: 10em;
    height: 3.5em;

    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}

/* buttons on home page */

#home main section article:nth-of-type(2) ul li p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    width: 7em;

    align-self: flex-end;

    border: none;
    background: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    padding: .4rem .5rem .4rem .5rem;

    color: #ffffff;


    transition: 0.1s;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);

    transition: .4s;
}

/* different coloured buttons */

/* one */

#home main section:first-of-type article:nth-of-type(2) ul li p {
    background-color: #7c8186;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}

#home main section:first-of-type article:nth-of-type(2) ul li:last-of-type p:active {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

/* two */

#home main section:nth-of-type(2) article:nth-of-type(2) ul li p {
    background-color: #708191;
    box-shadow: inset 0 -5px 0 0 rgb(0 0 0 / 20%);
}

#home main section:nth-of-type(2) article:nth-of-type(2) ul li:last-of-type p:active {
    box-shadow: inset 0 -1px 0 0 rgba(0 0 0 / 20%);
    text-shadow: 0px 1px rgba(0 0 0 / 20%);
}

/* three */

#home main section:nth-of-type(3) article:nth-of-type(2) ul li p {
    background-color: #647184;
    box-shadow: inset 0 -5px 0 0 rgb(0 0 0 / 20%);
}

#home main section:nth-of-type(3) article:nth-of-type(2) ul li:last-of-type p:active {
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 20%);
    text-shadow: 0px 1px 0 0 rgb(0 0 0 / 20%);
}

/* four */

#home main section:nth-of-type(4) article:nth-of-type(2) ul li p {
    background-color: #5e7085;
    box-shadow: inset 0 -5px 0 0 rgb(0 0 0 / 20%);
}

#home main section:nth-of-type(4) article:nth-of-type(2) ul li:last-of-type p:active {
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 20%);
    text-shadow: 0px 1px 0 0 rgb(0 0 0 / 20%);
}

/* home on bigger screens */

#home main section article:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

/* media queries */

@media (max-width: 38em) {
    #home main section article:nth-of-type(2) ul {
        margin: 2em 0 2em 0;
    }
}

/* 608 px */
@media (min-width: 38em) {
    #home main section article:first-of-type ul {
        display: flex;
        justify-content: center;
    }

    #home main section article:first-of-type ul:nth-of-type(2) {
        margin: 2em 1em 2em 1em
    }

    #home main section article:first-of-type ul:nth-of-type(2) li {
        width: 90%;
    }

    #home main section article:first-of-type ul:first-of-type li img {
        max-height: 25em;
        width: auto;
    }

    #home main section article:first-of-type ul {
        display: flex;
        align-items: flex-end;
    }

    #home main section article:nth-of-type(2) ul {
        margin: 0 0 2em 0;
    }

    #home main section article:nth-of-type(2) ul li a p {
        margin: 0;
    }
}

/* 700 px */
@media (min-width: 44em) {

    #home main section article:first-of-type ul:first-of-type li img {
        max-height: 25em;
        width: auto;
    }
}

/* 800 px */
@media (min-width: 50em) {
    #home main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 0 1em 1em 1em;
        gap: 2em;
    }

    #home main section {
        margin: 0;
    }

    header nav ul {
        margin: 2em 2em 1em 2em;
    }

    #home main {
        margin: 1em 2em 2em 2em;
    }

    #home main section article:nth-of-type(2) ul {
        margin: 0 0 2em 0;
    }

    /* makes the designs go on the bottom */

    #home main section article:last-of-type {
        display: flex;
        justify-content: flex-end;
    }

    #home main section article:last-of-type ul {
        display: flex;
        justify-content: flex-end;
    }
}

/* 960 px */
@media (min-width: 60em) {
    #home main section article:first-of-type ul:nth-of-type(2) li h2 {
        text-align: center;
        padding: 0 0 1em 0;
    }

    #home main section article:first-of-type ul:first-of-type li {

        margin: 2em 2em 0 2em;
    }

    #home main section article:first-of-type ul:nth-of-type(2) li {

        margin: 1em 0 1em 0;
    }

    #home main section article:first-of-type ul:nth-of-type(2) li {
        width: 75%;
    }

    #home main section article:nth-of-type(2) ul {
        margin: 0 0 3em 0;
    }
}

/* 1600px */
@media (min-width: 100em) {
    p {
        font-size: 1.1em;
    }
}

/* project pages */

#projects main section {
    margin: 0;
}

#projects main section article ul:last-of-type {
    margin: 1em;
}

/* top */

#projects main section:first-of-type article ul:first-of-type {
    display: flex;
    justify-content: center;
    padding: 1em 1em 0 1em;
}

#projects main section:first-of-type article ul:nth-of-type(2) {
    justify-content: center;
    text-align: center;
    margin: 0 1em 2em 1em;
}

#projects main section:first-of-type article ul:last-of-type {
    margin: 0;
}

/* project images */

#projects main section article ul.projectimages {
    display: flex;
    justify-content: center;
    gap: 1em;
    /* padding: 2em; */
}

#projects main section article ul.projectimages p {
    font-weight: 600;
    padding: 0 0 .5em 0;
    margin: 0;
}

/* grid display on smaller screens */

#projects main section:last-of-type article ul.projectimagesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5em;

    margin: 0 1em 1em 1em;
}

/* grid display on bigger screens */

@media (min-width: 50em) {

    #projects main section:last-of-type article ul.projectimagesgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .5em;

        margin: 0 1em 1em 1em;
    }
}

/* project pages different colors */

#projects main section:nth-of-type(2) {
    background-color: var(--white);
}

#projects main section:nth-of-type(3) {
    background-color: var(--colortwo);
}

#projects main section:nth-of-type(4) {
    background-color: var(--white);
}

#projects main section:nth-of-type(5) {
    background-color: var(--colorthree);
}

#projects main section:nth-of-type(6) {
    background-color: var(--white);
}

#projects main section:nth-of-type(7) {
    background-color: var(--colorfour);
}

#projects main section:nth-of-type(8) {
    background-color: var(--white);
}

#projects main section:nth-of-type(9) {
    background-color: var(--colorfive);
}

#projects main section:nth-of-type(10) {
    background-color: var(--white);
}

#projects main section:nth-of-type(11) {
    background-color: var(--colorsix);
}

/* arrow design on project pages */

#projects main section article ul.designs {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

#projects main section article ul.designs li {
    margin: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

#projects main section:last-of-type article ul:first-of-type {
    margin: 1em;
}

/* and on the about page */

#about main section article ul.designs {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

#about main section article ul.designs li {
    margin: 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

#about main section:last-of-type article ul:first-of-type {
    margin: 1em;
}

/* buttons to the websites */

.centeredul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2em 0 2em 0;
}

.button {
    display: flex;
    justify-content: center;

    margin: 0 0 1em 0;
}

#projects main section article ul.button li {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

    margin: 0 0 .5em 0;

    /* width: 25%; */

    border: none;
    background: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    padding: .4rem .5rem .4rem .5rem;

    color: #ffffff;
    background-color: #7c8186;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.2);

    transition: .4s;
}

#projects main section article ul.button li:active {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

#projects main section article ul.button li p {
    color: white;
}

/* project pages on smaller screens */

@media (max-width: 38em) {
    #projects main section article ul.projectimages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1em;
    }

    #projects main section article ul.projectimages li {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/* project pages on bigger screens */

@media (min-width: 38em) {

    #projects main section article ul.projectimages img {
        align-self: center;
    }

    #projects main section article ul:last-of-type {
        margin: 3em;
    }

    #projects main section:last-of-type article ul.projectimages {
        margin: 0 1em 0 1em;
    }

    #projects main section:last-of-type article ul.projectimages img {
        max-height: 30em;
    }

    #projects main section:last-of-type article ul:first-of-type {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 50em) {
    #projects section.introduction article ul:first-of-type li {
        width: 60%;
    }

    header nav ul {
        margin: 2em;
    }

    #projects main section article ul.projectimages img {
        max-height: 25em;
        max-width: 20em;


        align-self: center;
    }

    #projects main section:last-of-type article ul.projectimages img {
        max-height: 30em;
        max-width: 40em;
    }
}

@media (min-width: 60em) {
    #projects main section ul li p {
        width: 80%;
    }

    #projects main section article ul.projectimages li {
        align-self: flex-start;
    }

    #projects section.introduction article ul:first-of-type li {
        width: 50%;
    }

    #projects article.projectarticle {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #projects main section article ul.projectimages img {
        max-height: 30em;
        max-width: 25em;
        /* width: auto; */
    }

    .projectimages {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }

    #projects main section article ul.projectimages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .projectimages li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #projects main section ul li {
        display: flex;
        justify-content: center;
    }

    #projects main section ul li h3 {
        margin: 1em;
    }

    #projects main section ul li p {
        font-size: 1.1em;
    }

    #projects main section:last-of-type ul.centeredul li p {
        width: 100%;
    }

    #projects main section:nth-of-type(2) article ul:first-of-type li:first-of-type h3 {
        margin: 0 1em 1em 1em;
    }

    #projects main section article ul.projectimages li {
        /* align-self: center; */
        align-items: flex-start;
    }

    #projects main section:last-of-type article ul.projectimages img {
        max-height: 35em;
        max-width: 40em;
    }
}

@media (min-width: 75em) {
    #projects main section ul li p {
        width: 60%;
    }

    #projects main section article ul.projectimages li p {
        width: 100%;
    }
}

@media (min-width: 100em) {
    #projects section.introduction article ul:first-of-type li {
        width: 40%;
    }

    #projects main section article ul.projectimages img {
        max-height: 35em;
        max-width: 30em;
        /* width: auto; */
    }

    #projects main section article ul.projectimages li p {
        width: 100%;
    }

    .projectimages {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1em;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }

    .projectimages li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #projects main section ul li p {
        width: 50%;
    }
}

/* about me */

#about main section {
    margin: 0;
}

#about main section:first-of-type ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

#about main section:first-of-type ul:nth-of-type(2) li {
    align-self: center;
}

#about main section:first-of-type ul.designs {
    margin: 0;
}

#about main section article ul {
    margin: 1em;
}

/* my skills icons */

#about main section:nth-of-type(3) article {
    margin: 1em;
}

#about main section:nth-of-type(3) article ul:first-of-type {
    text-align: center;
}

#about main section:nth-of-type(3) article ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-grow: 1;
}

#about main section:nth-of-type(3) article ul:nth-of-type(2) li {
    display: inline-flex;
    justify-content: space-evenly;
}

#about main section:nth-of-type(3) article ul:nth-of-type(2) img {
    max-width: 5em;
}

/* section colors */

#about main section:nth-of-type(2) {
    background-color: var(--white);
}

#about main section:nth-of-type(3) {
    background-color: var(--colortwo);
}

@media (min-width:38em) {
    #about main section.introduction article ul:first-of-type {
        display: flex;
        justify-content: center;

        margin: 1.5em 1em 1em 1em;

    }

    #about main section.introduction article ul:first-of-type li {
        width: 70%;
    }

    #about main section:nth-of-type(2) article {
        margin: 3em;
    }

    #about main section:nth-of-type(3) article {
        margin: 2em;
    }
}

@media (min-width:50em) {
    #about main section.introduction article ul:first-of-type {
        display: flex;
        justify-content: center;

        margin: 2em 1em 2em 1em;
    }

    #about main section.introduction article ul:first-of-type li {
        width: 50%;
    }
}

@media (min-width:60em) {
    #about main section.introduction article ul:first-of-type {
        display: flex;
        justify-content: center;

        margin: 2em 1em 2em 1em;
    }

    #about main section.introduction article ul:first-of-type li {
        width: 40%;
    }

    #about main section ul li {
        display: flex;
        justify-content: center;
    }

    #about main section.introduction article ul:nth-of-type(2) li p {
        width: 100%;
    }

    #about main section ul li p {
        font-size: 1.1em;
        width: 80%;
    }

    #about main section:nth-of-type(3) ul:nth-of-type(2) li {
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    #about main section:nth-of-type(3) ul:nth-of-type(2) li img {
        max-width: 6em;
    }
}

@media (min-width:75em) {
    #about main section.introduction article ul:first-of-type {
        display: flex;
        justify-content: center;

        margin: 2em 1em 2em 1em;
    }

    #about main section.introduction article ul:first-of-type li {
        width: 30%;
    }

    #about main section ul li p {
        width: 60%;
    }
}

@media (min-width:100em) {
    #about main section ul li p {
        width: 50%;
    }

    h3 {
        font-size: 1.5em;
    }
}

/* footer */

footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer section ul {
    margin: 1em 1em 3em 1em;
}

footer section ul:first-of-type {
    display: inline-flex;
    justify-content: center;
}

footer section ul:last-of-type {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-grow: 1;
}

footer section ul:last-of-type li {
    display: inline-flex;
    flex-grow: 1;

    min-width: 2em;
    min-height: 2em;

    max-width: 4em;
    max-height: 4em;

    margin: 1em;
}

#projects footer section {
    margin-top: 2em;
}